USE [master]
GO
/****** Object:  Database [barber]    Script Date: 9/6/2019 11:00:32 AM ******/
CREATE DATABASE [barber]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'barber', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.LOCALHOST\MSSQL\DATA\barber.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'barber_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.LOCALHOST\MSSQL\DATA\barber_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [barber].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [barber]
GO
/****** Object:  Table [dbo].[reservation]    Script Date: 9/6/2019 11:00:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[reservation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uid] [varchar](20) NULL,
	[uname] [varchar](30) NULL,
	[profile] [varchar](200) NULL,
	[services] [varchar](200) NULL,
	[startDate] [datetime] NULL,
	[endDate] [datetime] NULL,
	[status] [int] NULL,
	[changedBy] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Services]    Script Date: 9/6/2019 11:00:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[servieRatings]    Script Date: 9/6/2019 11:00:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[servieRatings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rating] [float] NULL,
	[serviceType] [varchar](50) NULL,
	[uid] [int] NULL,
	[rid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
